<html>
    <head>
        <% include ./ejs/headerSetting.ejs %>
        <link rel="stylesheet" href="../css/showPost.css">
        <link rel="stylesheet" href="../css/post_postList.css">
        <link rel="stylesheet" href="../css/pagination.css">
    </head>
    <body>
    <% if (!isAuthenticated) { %>
    <script>
        alert('로그인이 필요한 서비스입니다.');
        window.location = '/';
    </script>
    <% } else { %>
    <% include ./ejs/navbar.ejs %>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <h1 class="mt-4"><%= post.title %></h1>
                <!-- Author -->
                <p class="lead">
                    by
                <a href="#"><%= post.author %></a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p>Posted on , <%= post.createAt.toString().replace('G', ')').substr(0, 24) %></p>
                <hr>
                <!-- Preview Image -->
                <img class="img-fluid rounded" src="http://papers.co/wallpaper/papers.co-mk74-snow-summer-blue-mountain-sky-cloud-nature-29-wallpaper.jpg" alt="">
                <hr>
                <!-- Post Content -->
                <p class="lead">
                    <%= post.contents %>
                </p><br>
                <% let updateLink = `/board/edit/${ post._id }`; %>
                <% let deleteLink = `/board/delete/${ post._id }?_method=delete`; %>
                <% if (currentUser.id === 'admin' || currentUser.name === post.author) { %>
                    <a class="btn btn-primary" href="<%= updateLink %>" role="button">Edit</a>
                    <form class="btn form_btn" action="<%= deleteLink %>" method="post">
                        <a class="btn btn-primary" href="#" onclick="confirm('정말로 삭제하시겠습니까?')?this.parentElement.submit():null;">Delete</a>
                    </form> 
                <% } %>
                <br><hr>
                <!-- comments -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form action="/board/comment/write/?postID=<%= post._id %>" method="post">
                            <div class="form-group">
                                <textarea name="comment" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <% if (comments !== undefined) { %>
                    <% comments.forEach((comment) => { %>
                        <!-- Single Comment -->
                        <!-- <% let commentCount = 1; %>
                        <% let commentNumber = `comment-number-${commentCount}`; %> -->
                        <div class="media mb-4 comment-box <%= commentNumber %>">
                            <img class="d-flex mr-3 rounded-circle" src="../images/jongjiwoo.png" alt="">
                            <div class="media-body">
                            <h5 class="mt-0">
                                <div class="comment-title">
                                    <span class="comment-author"><%= comment.Author %>
                                        <span class="comment-createdAt">(<%= comment.createdAt.toString().replace('G', ')').substr(0, 24) %>)</span>
                                    </span>
                                </div>
                            </h5>
                            <span class="comment-field <%= commentNumber %>"><%= comment.comment %></span>
                            <div class="for-editing-comment <%= commentNumber %>"></div>
                                <!---------------- Second Comment ---------------->
                                <!-- <div class="media mt-4">
                                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                    <div class="media-body">
                                        <h5 class="mt-0">Commenter Name</h5>
                                        <span>fuckfuckfuckfuckfuck</span>
                                    </div>
                                </div> -->
                                <!---------------- Second Comment ---------------->
                            <% let commentEditLink = `/board/comment/update/${ post._id }/`; %>
                            <% let commentDeleteLink = `/board/comment/delete/${ comment._id }?_method=delete`; %>
                            
                            <span class="comment-buttons">
                                <form action="<%= commentDeleteLink %>" method="post">
                                    <a href="#" onclick="confirm('정말로 삭제하시겠습니까?')?this.parentElement.submit():null;">Delete</a>
                                </form> 
                            </span>
                            <span class="comment-buttons comment-edit">
                                <a href="#">Edit</a>
                            </span>

                            </div>
                        </div>
                        
                        <hr class="comment-line">
                        <% commentCount++; %>
                    <% }); %>
                <% } %>
                <!---->
                <br>
                <!-- Post List -->
                <hr>
                <h1 class="mt-5">Posts</h1>
                <% include ./ejs/postList.ejs %>
                <% include ./ejs/Pagination.ejs %>
            </div>
        </div>
    </div>
    <% } %>
    <% include ./ejs/scripts.ejs %>
    <script src="../js/showPost.js"></script>
    </body>
</html>